* {
    margin: 0;
    padding: 0;
    border: 0;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

b {
    font-size: inherit;
}

a {
    text-decoration: none;
}

body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #000;
    font-family: 'Tinos'; /* , serif; */
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

._container {
    max-width: 1224px;
    margin: 0px auto;
    padding: 0 15px;
    box-sizing: content-box; /* Сам прибавляет padding */
}

/* Общие */
._ibg {
    position: relative;

    img {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        // object-position: left;
    }
}

.section-header {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;

    color: #585858;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

@media (max-width: 980px) {
    .section-header {
        margin-bottom: 25px;
    }
}

@media (max-width: 768px) {
    .section-header {
        font-size: 4.5vw;
        margin-bottom: 18px;
        line-height: 0;
    }
}

/* ----------------------------------- */

body {
    font-family: 'Montserrat';
}

@import '/node_modules/air-datepicker/air-datepicker.css';
@import 'main/_style';
@import 'burger';
